### Objective
### This file treats the provided dataset.
### Missing values and categorical values are handled.
### Two datframes result and saved in memory.

In [3]:
import pandas as pd
#pd.pandas.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

import numpy as np

#for category_encoders: on a terminal
#pip install https://github.com/scikit-learn/scikit-learn/archive/master.zip
import category_encoders as ce
#! pip install --upgrade category_encoders

#import it from the notebook
import import_ipynb

from cc_fi_initializing_variables import *
#import cc_fi_initializing_variables
#pip install import-ipynb

importing Jupyter notebook from cc_fi_initializing_variables.ipynb

In [4]:
#we read the data file named vehicles from the folder named data
#and store it in datframe named df
df_1=pd.read_csv('data/vehicles.csv')

In [5]:
#dimension of the dataframe
df_1.shape

(426880, 18)

In [6]:
#print the ten first rows of teh dataframe
df_1.head(10)

           id                  region  price  year manufacturer model condition cylinders fuel  odometer title_status transmission  VIN drive size type paint_color state
0  7222695916                prescott   6000   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    az
1  7218891961            fayetteville  11900   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    ar
2  7221797935            florida keys  21000   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    fl
3  7222270760  worcester / central MA   1500   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    ma
4  7210384030              greensboro   4900   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    nc
5  7222379453           hudson valley   1600   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    ny
6  7221952215           hudson valley   1000   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    ny
7  7220195662           hudson valley  15995   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    ny
8  7209064557         medford-ashland   5000   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    or
9  7219485069                    erie   3000   NaN          NaN   NaN       NaN       NaN  NaN       NaN          NaN          NaN  NaN   NaN  NaN  NaN         NaN    pa

In [7]:
#count non unique id values
(df_1["id"].value_counts()>1).sum()

0

In [8]:
#Non informative features: id


#we can delete column id as it adds no information to the study (can be used as index)
df_1_1=df_1.drop(["id"], axis = 1)

In [9]:
df_1_1.columns

Index(['region', 'price', 'year', 'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status', 'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color', 'state'], dtype='object')

In [10]:
#we examine the information of the datframe
df_1_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   condition     252776 non-null  object
 6   cylinders     249202 non-null  object
 7   fuel          423867 non-null  object
 8   odometer      422480 non-null  float64
 9   title_status  418638 non-null  object
 10  transmission  424324 non-null  object
 11  VIN           265838 non-null  object
 12  drive         296313 non-null  object
 13  size          120519 non-null  object
 14  type          334022 non-null  object
 15  paint_color   296677 non-null  object
 16  state         426880 non-null  object
dtypes: float64(2), int64(1), object(14)
memory usage: 55.4+ MB

## 1. Missing Values

In [11]:

#percentage of missing values per column (feature)
percent_missing = df_1_1.isnull().sum() * 100 / len(df_1)
percent_missing

region           0.000000
price            0.000000
year             0.282281
manufacturer     4.133714
model            1.236179
condition       40.785232
cylinders       41.622470
fuel             0.705819
odometer         1.030735
title_status     1.930753
transmission     0.598763
VIN             37.725356
drive           30.586347
size            71.767476
type            21.752717
paint_color     30.501078
state            0.000000
dtype: float64

In [12]:


#2nd way, percentage of missing values per column (feature)
percent_missing_1 = df_1_1.isnull().mean() * 100
percent_missing_1

region           0.000000
price            0.000000
year             0.282281
manufacturer     4.133714
model            1.236179
condition       40.785232
cylinders       41.622470
fuel             0.705819
odometer         1.030735
title_status     1.930753
transmission     0.598763
VIN             37.725356
drive           30.586347
size            71.767476
type            21.752717
paint_color     30.501078
state            0.000000
dtype: float64

## Approach 1 for missing values
### we will drop the  column with 71% of missing values
### then we drop the remaining rows with missing values

In [13]:

#drop column size  with 71.7% missing values
df_2=df_1_1.drop(["size"],axis=1)

In [14]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   condition     252776 non-null  object
 6   cylinders     249202 non-null  object
 7   fuel          423867 non-null  object
 8   odometer      422480 non-null  float64
 9   title_status  418638 non-null  object
 10  transmission  424324 non-null  object
 11  VIN           265838 non-null  object
 12  drive         296313 non-null  object
 13  type          334022 non-null  object
 14  paint_color   296677 non-null  object
 15  state         426880 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 52.1+ MB

In [15]:
df_2.isnull().mean() * 100

region           0.000000
price            0.000000
year             0.282281
manufacturer     4.133714
model            1.236179
condition       40.785232
cylinders       41.622470
fuel             0.705819
odometer         1.030735
title_status     1.930753
transmission     0.598763
VIN             37.725356
drive           30.586347
type            21.752717
paint_color     30.501078
state            0.000000
dtype: float64

In [16]:
#drop rows with missing values
df_3=df_2.dropna(axis=0)

In [17]:
#we verify the percentage of missing values

df_3.isnull().mean() * 100

region          0.0
price           0.0
year            0.0
manufacturer    0.0
model           0.0
condition       0.0
cylinders       0.0
fuel            0.0
odometer        0.0
title_status    0.0
transmission    0.0
VIN             0.0
drive           0.0
type            0.0
paint_color     0.0
state           0.0
dtype: float64

In [18]:
#we examine the information of dataframe df3
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61005 entries, 32 to 426878
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        61005 non-null  object
 1   price         61005 non-null  int64
 2   year          61005 non-null  float64
 3   manufacturer  61005 non-null  object
 4   model         61005 non-null  object
 5   condition     61005 non-null  object
 6   cylinders     61005 non-null  object
 7   fuel          61005 non-null  object
 8   odometer      61005 non-null  float64
 9   title_status  61005 non-null  object
 10  transmission  61005 non-null  object
 11  VIN           61005 non-null  object
 12  drive         61005 non-null  object
 13  type          61005 non-null  object
 14  paint_color   61005 non-null  object
 15  state         61005 non-null  object
dtypes: float64(2), int64(1), object(13)
memory usage: 7.9+ MB

In [19]:
#df_1_1.shape, df_3.shape, df_1_1.shape[0]-df_3.shape[0]

((426880, 17), (61005, 16), 365875)

In [39]:
#we observe the five first rows of datframe df_3
df_3.head()

    region  price    year manufacturer                        model condition    cylinders fuel  odometer title_status transmission                VIN drive    type paint_color state
32  auburn  27990  2012.0          gmc  sierra 2500 hd extended cab      good  8 cylinders  gas   68696.0        clean        other  1GT220CG8CZ231238   4wd  pickup       black    al
33  auburn  34590  2016.0    chevrolet        silverado 1500 double      good  6 cylinders  gas   29499.0        clean        other  1GCVKREH6GZ228691   4wd  pickup      silver    al
35  auburn  29990  2016.0    chevrolet        colorado extended cab      good  6 cylinders  gas   17302.0        clean        other  1GCHTCE37G1186784   4wd  pickup         red    al
36  auburn  38590  2011.0    chevrolet         corvette grand sport      good  8 cylinders  gas   30237.0        clean        other  1G1YR3DW3B5102190   rwd   other         red    al
38  auburn  32990  2017.0         jeep     wrangler unlimited sport      good  6 cylinders  gas   30041.0        clean        other  1C4BJWDG5HL705371   4wd   other      silver    al

## Approach 2 for missing values
### we will drop all the  columns with missing values

In [20]:
#however one could estimate missing values 
#especialy for the rows using AI or other imputation techniques
#adequate for object type variables 

#for the study the  column with the greatest % of missing values 
#was deeted that is feature size and then  all the rows with missing values
#were deleted. However with this technique 365875 entries were lost leaving
# only 61005 entries for the study.

#For each entry 16 out of the 17 available featires are going to be employed.
#feature "Size" was deleted due to the high number fo missing values.

In [21]:
#dataframe where all columns with nan values are deleted 
df_a=df_1_1.drop(["condition","cylinders","VIN","drive","type","paint_color","size"],axis=1)

In [22]:
#information of df_a
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        426880 non-null  object
 1   price         426880 non-null  int64
 2   year          425675 non-null  float64
 3   manufacturer  409234 non-null  object
 4   model         421603 non-null  object
 5   fuel          423867 non-null  object
 6   odometer      422480 non-null  float64
 7   title_status  418638 non-null  object
 8   transmission  424324 non-null  object
 9   state         426880 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 32.6+ MB

In [23]:
#delete rows with missing values
df_b=df_a.dropna(axis=0)

In [24]:
#inforation on df_b
df_b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389604 entries, 27 to 426879
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        389604 non-null  object
 1   price         389604 non-null  int64
 2   year          389604 non-null  float64
 3   manufacturer  389604 non-null  object
 4   model         389604 non-null  object
 5   fuel          389604 non-null  object
 6   odometer      389604 non-null  float64
 7   title_status  389604 non-null  object
 8   transmission  389604 non-null  object
 9   state         389604 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 32.7+ MB

In [25]:
#we observe the five first rows of df_b
df_b.head()

    region  price    year manufacturer                     model fuel  odometer title_status transmission state
27  auburn  33590  2014.0          gmc  sierra 1500 crew cab slt  gas   57923.0        clean        other    al
28  auburn  22590  2010.0    chevrolet            silverado 1500  gas   71229.0        clean        other    al
29  auburn  39590  2020.0    chevrolet       silverado 1500 crew  gas   19160.0        clean        other    al
30  auburn  30990  2017.0       toyota      tundra double cab sr  gas   41124.0        clean        other    al
31  auburn  15000  2013.0         ford                 f-150 xlt  gas  128000.0        clean    automatic    al

In [26]:

#percentage of missing values for df_b per column
df_b.isnull().mean() * 100

region          0.0
price           0.0
year            0.0
manufacturer    0.0
model           0.0
fuel            0.0
odometer        0.0
title_status    0.0
transmission    0.0
state           0.0
dtype: float64

In [27]:
#information in df_b
df_b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389604 entries, 27 to 426879
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        389604 non-null  object
 1   price         389604 non-null  int64
 2   year          389604 non-null  float64
 3   manufacturer  389604 non-null  object
 4   model         389604 non-null  object
 5   fuel          389604 non-null  object
 6   odometer      389604 non-null  float64
 7   title_status  389604 non-null  object
 8   transmission  389604 non-null  object
 9   state         389604 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 32.7+ MB

## 2. Data Vectorization-Transforming Object Type  Variables to Numeric Ones

In [28]:
#a target based encoder is going to be employed 
#(allowing the number fo columns of the dataframe to remaine unchanged)
#LeaveOneout encoder
#https://contrib.scikit-learn.org/category_encoders/leaveoneout.html

#however one should try 
#other alternatives too One-Hot encoder

#https://www.analyticsvidhya.com/blog/2020/08/types-of-categorical-data-encoding/

In [29]:
# VECTORIZATION  -  CATEGORICAL VARIABLES

#fct which vectorizes object type columns of a single dataframe
#IT RETURNS A VECTORIZED DATAFRAME
#the encoder employed is 
#LeaveOneOutEncoder which is a traget based encoder

#val_dataframe=the dataframe
#val_name_target_variable=the name of the target variable (feature)

def fct_traget_vectorization_obj_cols_df(val_dataframe, val_name_target_variable):
    

    #the list with the object type columns to vectorize                                            
    
                                                 
    encoder = ce.LeaveOneOutEncoder(return_df=True,handle_missing='error')

    
    val_dataframe=\
    encoder.fit_transform(val_dataframe,val_dataframe[val_name_target_variable])

    
    return val_dataframe

In [30]:
#vectorization de df_3
df_4=fct_traget_vectorization_obj_cols_df(
    val_dataframe=df_3,val_name_target_variable="price")

In [31]:

#we observe the information on the vectorized dataframe df_4
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61005 entries, 32 to 426878
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        61005 non-null  float64
 1   price         61005 non-null  int64
 2   year          61005 non-null  float64
 3   manufacturer  61005 non-null  float64
 4   model         61005 non-null  float64
 5   condition     61005 non-null  float64
 6   cylinders     61005 non-null  float64
 7   fuel          61005 non-null  float64
 8   odometer      61005 non-null  float64
 9   title_status  61005 non-null  float64
 10  transmission  61005 non-null  float64
 11  VIN           61005 non-null  float64
 12  drive         61005 non-null  float64
 13  type          61005 non-null  float64
 14  paint_color   61005 non-null  float64
 15  state         61005 non-null  float64
dtypes: float64(15), int64(1)
memory usage: 7.9 MB

In [32]:
#df_b.info()

In [33]:
#vectorization of df_b
df_c=fct_traget_vectorization_obj_cols_df(
    val_dataframe=df_b,val_name_target_variable="price")

In [34]:
#information on the vectorized dataframe df_c
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 389604 entries, 27 to 426879
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   region        389604 non-null  float64
 1   price         389604 non-null  int64
 2   year          389604 non-null  float64
 3   manufacturer  389604 non-null  float64
 4   model         389604 non-null  float64
 5   fuel          389604 non-null  float64
 6   odometer      389604 non-null  float64
 7   title_status  389604 non-null  float64
 8   transmission  389604 non-null  float64
 9   state         389604 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 32.7 MB

In [35]:
#verification that the vectorization didn't created any nans
#though it is also aobvious from  info()
df_c.isnull().mean() * 100

region          0.0
price           0.0
year            0.0
manufacturer    0.0
model           0.0
fuel            0.0
odometer        0.0
title_status    0.0
transmission    0.0
state           0.0
dtype: float64

In [36]:
#we save dataframe df_4 in our current working environment
#as my_df_4.pkl 
#if we need them we reload them back (df= pd.read_pickle("my_df_b.pkl")

#df_4.to_pickle("my_df_4.pkl")
df_4.to_pickle(val_name_data_1_for_pickle)

In [37]:
#we save dataframe df_c in our current working environment
#as my_df_b.pkl 
#if we need them we reload them back (df= pd.read_pickle("my_df_b.pkl")

#df_b.to_pickle("my_df_b.pkl")
df_c.to_pickle(val_name_data_2_for_pickle)